.container[b-01othlj45i] {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.product-property-fields[b-01othlj45i] {
}

.productColumnInput[b-01othlj45i] {
}

.row[b-01othlj45i]{
    width: 75%;
    margin: 5px auto 5px auto;
}

.leftColumn[b-01othlj45i] {
    width: 29%;
}

.rightColumn[b-01othlj45i]{
    width: 69%;
    text-align: center;
}

[class*='product-property-fields'][b-01othlj45i] {
    background-color: white;
}