@import '';

/* /Pages/Form.razor.rz.scp.css */
.container[b-01othlj45i] {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.product-property-fields[b-01othlj45i] {
}

.productColumnInput[b-01othlj45i] {
}

.row[b-01othlj45i]{
    width: 75%;
    margin: 5px auto 5px auto;
}

.leftColumn[b-01othlj45i] {
    width: 29%;
}

.rightColumn[b-01othlj45i]{
    width: 69%;
    text-align: center;
}

[class*='product-property-fields'][b-01othlj45i] {
    background-color: white;
}
/* /Pages/Login.razor.rz.scp.css */
/* /Pages/Register.razor.rz.scp.css */
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-bikyulthlw] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-bikyulthlw] {
    flex: 1;
}

.sidebar[b-bikyulthlw] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-bikyulthlw] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-bikyulthlw]  a, .top-row .btn-link[b-bikyulthlw] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-bikyulthlw] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-bikyulthlw] {
        display: none;
    }

    .top-row.auth[b-bikyulthlw] {
        justify-content: space-between;
    }

    .top-row a[b-bikyulthlw], .top-row .btn-link[b-bikyulthlw] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-bikyulthlw] {
        flex-direction: row;
    }

    .sidebar[b-bikyulthlw] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-bikyulthlw] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-bikyulthlw] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */

.navbar-toggler[b-inorogqpd4] {
    background-color: rgba(255, 255, 255, 0.1);
    
}

.top-row[b-inorogqpd4] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-inorogqpd4] {
    font-size: 1.1rem;
}

.oi[b-inorogqpd4] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-inorogqpd4] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-inorogqpd4] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-inorogqpd4] {
    padding-bottom: 1rem;
}

.nav-item[b-inorogqpd4]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-inorogqpd4]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-inorogqpd4]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-inorogqpd4] {
        display: none;
    }

    .collapse[b-inorogqpd4] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
