.displaySpecs {
    /* text-align: center; */
    background-color: snow;
    width: 800px;
    margin:40px auto;
    padding: 40px 20px;
    display: flex;
}

.displaySpecs .imgContainer {
    width: 400px;
}


.displaySpecs .imgContainer img{
    width: 100%;
}

.displaySpecs .specsDetailed{
    width: 35%;
    margin:0 auto;
    margin-top:20px;
}

.displaySpecs .imgContainer{
    margin:20px;
}

.displaySpecs p { 
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.displaySpecs span {
    width: 100%;
}

.displaySpecs span:nth-child(2) {
    text-align: center;
    background-color: white;
}





